@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #FAF9F6;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.015) 1px, transparent 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
  color: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #FAF9F6;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.015) 1px, transparent 1px);
    background-size: 20px 20px;
    background-attachment: fixed;
    color: #0a0a0a;
  }
}
